[package]
name = "cantara"
version = "0.3.0"
authors = ["Jan Martin Reckel <jm.reckel@t-online.de>"]
keywords = ["music", "sheets", "presentation"]
license-file = "COPYING"
description = "Software for Song Presentation in Churches"
edition = "2024"
repository = "https://github.com/CantaraProject/Cantara"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dioxus = { version = "0.7.0", features = ["desktop", "router"], git = "https://github.com/DioxusLabs/dioxus", branch = "jk/disable-dma-wayland" }
dirs = "6.0.0"
rfd = { version = "0.15.4", default-features = false, features = ["tokio"] }

dioxus-free-icons = { version = "0.10.0", features = [
    "font-awesome-regular",
    "font-awesome-solid",
] }

rust-i18n = "3.1.4"
serde = "1.0.219"
serde_json = "1.0.140"
sys-locale = "=0.3.2"

# Cantara libraries
cantara-songlib = "0.1"
rgb = { version = "0.8.50", features = ["serde"] }
once_cell = "1.21.3"
log = "0.4.27"
reqwest = { version = "0.11", features = ["json", "blocking"] }
zip = "0.6"
tempfile = "3.10"

[features]
default = ["desktop"]
web = ["dioxus/web"]
desktop = [
    "dioxus/desktop",
]
mobile = ["dioxus/mobile"]

[profile]

[profile.wasm-dev]
inherits = "dev"
opt-level = 1

[profile.server-dev]
inherits = "dev"

[profile.android-dev]
inherits = "dev"

[profile.release]
opt-level = "z"
debug = false
lto = true
codegen-units = 1
panic = "abort"
incremental = false
