[package]
name = "cantara"
version = "0.3.0"
authors = ["Jan Martin Reckel <jm.reckel@t-online.de>"]
keywords = ["music", "sheets", "presentation"]
license-file = "COPYING"
description = "Software for Song Presentation in Churches"
edition = "2024"
repository = "https://github.com/CantaraProject/Cantara"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dioxus = { version = "0.7.3", features = ["desktop", "router"] }
dirs = "6.0.0"

dioxus-free-icons = { version = "0.10.0", features = [
    "font-awesome-regular",
    "font-awesome-solid",
] }

rust-i18n = "3.1.5"
serde = "1.0.228"
serde_json = "1.0.145"
sys-locale = "=0.3.2"

# Cantara libraries
cantara-songlib = "0.1.5"
rgb = { version = "0.8.52", features = ["serde"] }
log = "0.4.28"
reqwest = { version = "0.13.2", features = ["json", "blocking"] }
zip = "8.1.0"
tempfile = "3.23"
dark-light = "1.1"

# Platform specific
[target.'cfg(not(target_os = "linux"))'.dependencies]
rfd = { version = "0.15.4", default-features = false, features = ["tokio"] }

[target.'cfg(target_os = "linux")'.dependencies]
rfd = { version = "0.15.4", default-features = false, features = ["tokio", "xdg-portal"] }

[features]
default = ["desktop"]
web = ["dioxus/web"]
desktop = [
    "dioxus/desktop",
]
mobile = ["dioxus/mobile"]

[profile]

[profile.wasm-dev]
inherits = "dev"
opt-level = 1

[profile.server-dev]
inherits = "dev"

[profile.android-dev]
inherits = "dev"

[profile.release]
opt-level = "z"
debug = false
lto = true
codegen-units = 1
panic = "abort"
strip = true
incremental = false
