/* Ensure full height and reset margins */
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

}
#main {
    min-height: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
}

.presentation {
    all: unset;
    outline: none;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    overflow-y: hidden;
    z-index: 1;
}

.background {
    outline: none;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    overflow-y: hidden;
    z-index: -1;
}

.presentation p {
    margin: 0;
    z-index: 1;
}

.presentation:focus {
    outline: none;
}

.background p {
    margin: 0;
}

.background:focus {
    outline: none;
}

#headline {
}

.main-content {

}

.spoiler {

}

/* Fade in Animation */
.presentation-fade-in {
    animation: presentationFadeIn 400ms ease-in-out;
}

.slide-container {
    z-index: 2!important;
}

@keyframes presentationFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}